<div class="row-fluid">
  <div class="span7 offset3">
    <h2>Alright, let's get started!</h2>

    <hr>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

    <br>

    <div><%= f.label :password %>
      <%= f.password_field :password %></div>

    <br>

    <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

    <br>

    <div><%= f.submit "Sign up", {:class => "btn btn-primary"} %></div>
    <% end %>

    <hr>
    You'll receive a confirmation email to the address you provide
    above. We want to confirm your email address since we'll be
    spinning up some infrastructure on heroku for your app. We'll never
    spam you.<br/>
    <span class="label label-warning">Attention!</span> If you use
    gmail, our confirmation email is most likely going to end up in
    your spam folder, so go there and click on it. Thanks.

    <hr>
    <%= render "devise/shared/links" %>
  </div>
</div
